/* color */
.color-red{
	color : #00EE00;
}

/* border */
.border-black{
	border: solid 1px #AAA;
	padding-top: 10px;
}

/* background */

.background-white{
	background-color: #FFFFFF;
}

.background-generic{
	background-color: #CFCFCF;
}

/* alignement */
.center{
	text-align : center;
}

/* label */
label {
	font-weight: normal;
}
