/* color */
.color-red{
	color : #00EE00;
}

/* border */
.border-black{
	border: solid 2px black;
}

/* background */

.background-brown{
	background-color: #FFFFFF;
}

.background-generic{
	background-color: #CFCFCF;
}
